<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <index_lists>
    <list name="香港指數">
      <item code="^HSI" name="恆生指數"/>
      <item code="^HSCEI" name="國企指數"/>
    </list>
    <list name="亞太區指數">
      <item code="000001.SS" name="上證綜指"/>
	  <item code="000002.SS" name="上證A指"/>
      <item code="399001.SZ" name="深證成指"/>
      <item code="^TWII" name="台灣加權"/>
      <item code="^N225" name="日經平均"/>
      <item code="^KS11" name="南韓綜指"/>
      <!--<item code="^HSCEI" name="澳ASX指"/>
      <item code="^HSCEI" name="星海峽時報"/>
      <item code="^HSCEI" name="曼谷SET"/>
      <item code="^HSCEI" name="印度CNX"/>-->
    </list>
	<list name="歐美指數">
	  <item code="^FTSE" name="英國富時"/>
	  <item code="^GDAXI" name="德國DAX"/>
	  <item code="^DJI" name="道瓊斯"/>
	  <item code="^IXIC" name="納斯達克"/>
	</list>
  </index_lists>
  <common_currency>
    <currency code="HKD" name="港元"/>
    <currency code="USD" name="美元"/>
    <currency code="CNY" name="人民幣"/>
    <currency code="AUD" name="澳元"/>
    <currency code="CAD" name="加元"/>
    <currency code="CHF" name="瑞士法郎"/>
    <currency code="EUR" name="歐羅"/>
    <currency code="GBP" name="英鎊"/>
    <currency code="JPY" name="日圓"/>
    <currency code="NZD" name="紐西蘭元"/>
    <currency code="SGD" name="新加坡元"/>
    <currency code="THB" name="泰國銖"/>
    <currency code="ZAR" name="南非蘭特"/>
  </common_currency>
  <startup>
    <size width="440" height="600"/>
    <monlist path="Default.list" on="08:30:00" off="16:00:00" utc_offset="08:00:00"/>
    <monlist path="UKUS.list" on="03:00:00" off="19:30:00" utc_offset="-05:00:00"/>
  </startup>
</configuration>